
<main>
  <%if(products.length) {%>
  <div class="grid">
    <% for(const product of products) {%>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title%></h1>
      </header>
      <div class="card__image">
        <img class="product__image" src=<%= product.imageUrl %> alt="A Book">
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price%></h2>
        <p class="product__description"><%= product.description %></p>
      </div>
      <div class="card__actions">
        <% if(path === "/admin/products"){ %>
          <button class="btn"><a href="/admin/<%= product.title%>/edit"</a>Edit</a></button>
          <form action="/admin/delete-product" method="post">
            <button type="submit" class="btn">Delete</button>
          </form>
        <%} else {%>
          <form action="/add-to-cart" method="post">
            <button type="submit" class="btn">Add to Cart</button>
          </form>
        <%};%>
      </div>
    </article>
    <%};%>
  </div>
  <%} else {%>
  <h1>No Products Found</h1>
  <% } %>
</main>