<%- include('../partials/head.ejs')%>

<body>
  <%- include('../partials/navigation.ejs')%>
  <div>
    <h1>Your Cart:</h1>
    <% if(cart.length){%> 
      <ul>
        <% for(let product of cart){ %>
          <li>X<%=product.qty%> <%= product.title %>: $<%= product.price * product.qty%> </li>
        <%}%>
      </ul>
      <h1>Total: $<%= totalPrice %></h1>
    <% } else { %>
      <h2>Nothing in Cart</h2>
    <% } %>
  </div>
  <%- include('../partials/end.ejs')%>