<%- include('../partials/head.ejs')%>

<body>
  <%- include('../partials/navigation.ejs')%>
  <div>
    <h1>Your Cart:</h1>
    <% if(cartProducts.length){%> 
      <ul>
        <% for(let product of cartProducts){ %>
          <li>
            <p>
              X<%=product.cartItem.quantity%> <%= product.title %>: $<%= product.price * product.cartItem.quantity%> 
            </p>
            <form action="/cart/<%=product.id%>/edit" method="POST">
              <input type="number" name="quantity" value="<%=product.cartItem.quantity%>"/>
              <button class="btn" type="submit">Change Quantity</button>
            </form>
            <form action="/cart/delete/<%=product.id%>" method="POST">
              <button class="btn" type="submit">Delete</button>
            </form>
          </li>
        <%}%>
      </ul>
      <h1>Total: $<%= totalPrice %></h1>
      <form action="/checkout" method="POST">
        <button class="btn" type="submit">Checkout</button>
      </form>
    <% } else { %>
      <h2>Nothing in Cart</h2>
    <% } %>
  </div>
  <%- include('../partials/end.ejs')%>