<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../partials/navigation.ejs')%>
  <div class="product-detail">
    <h2 class="product-detail__product__title"><%= product.title %></h2>
    <img class="product-detail__product__image" src="<%=product.imageUrl%>" alt="product image">
    <p class="product-detail__product__description"><%= product.description %></p>
    <h3 class="product-detail__product__price">$<%= product.price % 1 === 0 ? Number(product.price).toFixed(2) : product.price %></h3>
    <%- include('../partials/add-to-cart.ejs')%>
  </div>
<%- include('../partials/end.ejs')%>